.shop-page {
  .sidebar-filter {
    width: 100%;
    padding: 20px 10px;
  }

  .toolbar-sort {
    display: block;
    height: auto;
    width: 100%;
    padding: 20px 10px;

    @media (min-width: $tablet-width) {
      .group-sort {
        float: right;
        display: flex;
      }

      .showing-total {
        float: left;
      }
    }

    #sort-sale {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
}