#root {
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: 'Nunito', sans-serif;
}

.modal-confirm {
    margin: 0;

    .modal-content {
        height: 100vh;
        border: none;
        border-radius: inherit;

        .modal-body {
            .modal-detail {
                border: 1px solid;
                border-radius: 15px;
                height: 80vh;
            }
        }
    }
}

body {
    color: $text-color-black;
}

.header {
    .app-logo {
        width: 32px;
        height: 32px;
    }
}