#root {
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: 'Nunito', sans-serif;
}

.modal-confirm {
  margin: 0;

  .modal-content {
    height: 100vh;
    border: none;
    border-radius: inherit;

    .modal-body {
      .modal-detail {
        border: 1px solid;
        border-radius: 15px;
        height: 80vh;
      }
    }
  }
}

body {
  color: $text-color-black;
  .container {
    padding: 0;
  }
  .row {
    margin: 15px -15px;
  }

  img {
    width: 100%;
  }
}

.header {
  .app-logo {
    width: 32px;
    height: 32px;
  }

  .navbar-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

a {
  color: $text-color-light-blue;
}