//button elements
$button-background-black: #000;
$button-background-black-2a: #2A2A2A;
$button-background-white: #fff;
$button-border-solid-style: 1px solid;
$button-border-color-black: #000;
$button-border-color-black-2a: #2A2A2A;
$button-border-color-red: #F24A4D;
$button-border-color-gold: #FFDF3A;
$button-box-shadow-black: 0px 3px 6px #00000029;;
$button-color-black: #000;
$button-border-radius: 24px;

$text-color-white: #fff;
$text-color-black: #000;
$text-color-black-2a: #2A2A2A;
$text-color-yellow: #FFDF00;
$text-color-gray: #5A5F69;
$text-color-red: #F24A4D;
$text-color-gold: #FFDF00;
$text-color-gray-2A: #2A2A2A;
$text-color-invalid: #dc3545;
$text-color-green: #6EED47;
$text-color-dark-blue: #030467;
$text-color-light-blue: #3c91ee;

$div-background-light-gray: #B0B4B7;
$div-background-color-black: #000;
$div-background-color-white: #fff;
